{% extends model('template') %}

{% define data = {
    form: form
} %}

{% block body %}
    <div class="payment-method spacing-left">
        {{ 'payment.heidelpay.pay_with_direct_debit' | trans }}
        {{ form_errors(data.form.heidelpayDirectDebit) }}
        <div class="small-12 columns">
            <ul class="no-bullet">
                {% for paymentOption in data.form.heidelpayDirectDebit.selected_payment_option %}
                    {% set checked = (paymentOption.vars.value == 'existing-registration') ? true : false %}
                    <li>
                        {{ form_row(paymentOption, {
                            required: false,
                            component: molecule('toggler-radio'),
                            attributes: {
                                'checked': checked,
                                'target-selector': '.js-heidelpay-method-' ~ paymentOption.vars.value,
                                'class-to-toggle': 'is-hidden'
                            }
                        }) }}
                        <div class="js-heidelpay-method-{{ paymentOption.vars.value }}">
                            {% set registrationMoleculeName = paymentOption.vars.value == 'existing-registration' ? 'existing-registration' : 'new-registration' %}
                            {% include molecule(registrationMoleculeName, 'Heidelpay') with {
                                data: {
                                    paymentOption: paymentOption,
                                    paymentMethod: data.form.vars.value.payment.heidelpayDirectDebit
                                }
                            } only %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
