parameters:
    bootstrapFiles:
        - '%rootDir%/../../../phpstan-bootstrap.php'
    level: 7
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
    excludePaths:
        - src/SprykerEco/Zed/Heidelpay/Persistence/Propel/Abstract*.php

