parameters:
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#Parameter .+ of method .+ has invalid typehint type .+Transfer#'
        - '#Call to method .+ on an unknown class .+Transfer#'
        - '#Return typehint of method .+ has invalid type .+Transfer#'
        - '#Instantiated class Generated\\Shared\\Transfer\\.+Transfer not found#'
        - '#Instantiated class Orm\\.+ not found#'
        - '#Class Generated\\Shared\\Transfer\\.+Transfer not found.+#'
        - '#Call to an undefined method .+Transfer\\AbstractTransfer::.+#'
        - '#PHPDoc tag @var for variable .+ contains unknown class Generated\\Shared\\Transfer\\[A-Za-z]+Transfer.+#'
        - '#Call to method .+ on an unknown class Orm\\.+#'
        - '#Call to method .+ on an unknown class Generated\\.+#'
        - '#Parameter \#2 \$object of method Spryker\\Client\\ZedRequest\\ZedRequestClientInterface::call\(\) expects .+TransferInterface, .+Transfer given#'
        - '#PHPDoc tag @param for parameter \$quoteTransfer with type .+Transfer is not subtype of native type .+Transfer#'
        - '#Return typehint of method .+ has invalid type Orm\\.+#'
        - '#Access to constant [A-Z_0-9]+ on an unknown class .+Transfer#'
        - '#Cloning object of an unknown class .+Transfer#'
        - '#Parameter .+ of method .+ has invalid typehint type Orm\\.+#'
        - '#Call to static method create\(\) on an unknown class Orm\\.+#'
        - '#Method .+ should return Generated\\.+ but returns .+Transfer#'
        - '#Parameter .+ of method .+ expects .+Transfer, .+AbstractTransfer given#'
    excludePaths:
        - src/SprykerEco/Zed/Heidelpay/Persistence/Propel/Abstract*.php

