{% extends model('component') %}

{% define config = {
    name: 'direct-debit-existing-registration',
} %}

{% define data = {
    paymentOption: data.paymentOption,
    paymentMethod: data.paymentMethod,
} %}

{% block body %}
    {{ form_widget(data.paymentOption) }}
    <div class="{{ config.name }}__option spacing-top">
        <label for="" id="" class="label label--required">label1</label>
        <input type="text" class="input input--expand">
        <label for="" class="label label--required">label2</label>
        <input type="text" id="" class="input input--expand">
    </div>
{% endblock %}
