<div class="payment-method payment-subform heidelpay-form heidelpay-sofort-form payment-form" id="heidelpaySofort">
    <div class="heidelpay small-12 columns">
        {{ 'payment.heidelpay.pay_with_ideal' | trans }}
        {{ form_errors(form.heidelpayIdeal) }}
        {{ form_widget(form.heidelpayIdeal) }}
    </div>
</div>
