<div class="payment-method payment-subform heidelpay-form heidelpay-paypal-authorize-form payment-form" id="heidelpayPaypalAuthorize">
    <div class="heidelpay small-12 columns">
        {{ 'payment.heidelpay.pay_with_paypal_authorize' | trans }}
        {{ form_errors(form.heidelpayPaypalAuthorize) }}
        {{ form_widget(form.heidelpayPaypalAuthorize) }}
    </div>
</div>
