{% extends model('template') %}

{% define data = {
    form: form
} %}

{% block body %}
    <div class="payment-method spacing-left">
        {{ 'payment.heidelpay.pay_with_credit_card' | trans }}
        {{ form_errors(data.form.heidelpayCreditCardSecure) }}
        <div class="small-12 columns">
            <ul class="no-bullet">
                {% for paymentOption in data.form.heidelpayCreditCardSecure.selected_payment_option %}
                    {% set checked = (paymentOption.vars.value == 'existing-registration') ? true : false %}
                    <li>
                        {{ form_row(paymentOption, {
                            required: false,
                            component: molecule('toggler-radio'),
                            attributes: {
                                'checked': checked,
                                'target-selector': '.js-heidelpay-method-' ~ paymentOption.vars.value,
                                'class-to-toggle': 'is-hidden'
                            }
                        }) }}
                        <div class="js-heidelpay-method-{{ paymentOption.vars.value }}">
                            {% if paymentOption.vars.value == 'existing-registration' %}
                                {% include molecule('existing-registration', 'Heidelpay') with {
                                    data: {
                                        paymentOption: paymentOption,
                                        paymentMethod: data.form.vars.value.payment.heidelpayCreditCardSecure,
                                    },
                                } only %}
                            {% else %}
                                {% include molecule('new-registration', 'Heidelpay') with {
                                    data: {
                                        paymentOption: paymentOption,
                                        paymentMethod: data.form.vars.value.payment.heidelpayCreditCardSecure,
                                    },
                                    attributes: {
                                        'payment-form-selector': '#payment-form',
                                        'payment-toggler-selector': 'input[target-class-name*="js-payment-method"]',
                                    },
                                } only %}
                            {% endif %}
                        </div>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}
