{% extends model('component') %}

{% define config = {
    name: 'direct-debit-new-registration',
    tag: 'direct-debit-new-registration',
} %}

{% define data = {
    paymentOption: data.paymentOption,
    paymentMethod: data.paymentMethod,
} %}

{% define attributes = {
    'payment-form-id': 'payment-form',
    'payment-option-input-name': data.paymentOption.vars.full_name,
    'payment-toggler-selector': 'input[target-selector*="js-payment-method"]',
    url: data.paymentMethod.paymentOptions.paymentFormActionUrl,
    method: 'post',
} %}

{% block body %}
    {{ form_widget(data.paymentOption) }}
    <div class="{{ config.name }}__option">
        <div class="form__field">
            <label for="id"  class="label label--required">{{ 'payment.heidelpay.direct_debit.holder' | trans }}</label>
            <input type="text" name="ACCOUNT.HOLDER" id="id" class="input input--expand">
        </div>
        <div class="form__field">
            <label for="id2" class="label label--required">{{ 'payment.heidelpay.direct_debit.iban' | trans }}</label>
            <input type="text" name="ACCOUNT.IBAN" id="id2" class="input input--expand">
        </div>
    </div>
{% endblock %}
