{% extends model('template') %}

{% define data = {
    form: form
} %}

{% block body %}
    <div class="payment-method">
        {{ 'payment.heidelpay.pay_with_invoice_secured_b2c' | trans }}
        {{ form_errors(data.form.heidelpayInvoiceSecuredB2C) }}
        {{ form_widget(data.form.heidelpayInvoiceSecuredB2C) }}
    </div>
{% endblock %}
