{% extends model('component') %}

{% define config = {
    name: 'heidelpay-ideal',
    tag: 'heidelpay-ideal'
} %}

{% define data = {
    form: ''
} %}

{% block body %}
    <div class="payment-method payment-subform heidelpay-form heidelpay-sofort-form payment-form" id="heidelpaySofort">
        {{ form_widget(data.form.heidelpayIdeal) }}
    </div>
{% endblock %}

